
.sidebar-item{
    display: flex;
    flex-direction: column;
    width:250px;
    height: 100vh;
    background-color: #222222;
    border-right: 1px solid #393939;
    color:white;
    align-items: center;
    justify-content: space-between;
}
.sidebar-item span{
    font-size: 32px;
    white-space: nowrap;
    margin: 25px;
    margin-top: 100px;
    font-family: 'Edu SA Beginner', cursive;
}
i{
    margin: 10px;
}

.home{
    margin:20px;
    text-decoration: none;
    color:white;
    border-bottom: 1px solid #393939;
}
.about{
    color:white;
    margin:20px;
    text-decoration: none;
    border-bottom: 1px solid #393939;
}
.services{
    color:white;
    margin: 20px;
    text-decoration: none;
    border-bottom: 1px solid #393939;
}
.project{
    color:white;
    margin: 20px;
    text-decoration: none;
    border-bottom: 1px solid #393939;
}
.contact{
    color:white;
    margin: 20px;
    text-decoration: none;
    border-bottom: 1px solid #393939;
    margin-bottom: 100px;
}
.active{
    color:#EC1839;
}
.nav-lin:hover{
    color:#cbb0b4;
}